body {
	background-color: #ffffff;
	font: 70%/2em verdana, sans-serif;
}
p.right {
	padding-right: 5em;
	float: right;
}
p.left {
	padding-left: 5em;
	float: left;
}
#header {
	position: absolute;
	background-color: #ffffff;
	width: 100%;
	height: 100px;
	left: 0;
	top: 0;
}
#header img {
	position: absolute;
	top: 11px;
	right: 5%;
}
#footer {
	position: absolute;
	background-color: #ffffff;
	width: 100%;
	bottom: 0;
	height: 61px;
	left: 0;
}
#main {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: #000000;
}
#naslov {
	position: absolute;
	font-family: "nasamedium", Arial, sans-serif;
	top: 138px;
	right: 5%;
	left: 2%;
	font-size: 58px;
	text-shadow: 0 0 6px #FFF;
	line-height: 58px;
	text-align: right;
	font-weight: normal;
}
#intro {
	position: relative;
	width: 33%;
	float: right;
	top: 200px;
	margin-right: 5%;
}
#intro p {
	text-align: justify;
	color: #cccccc;
}
#buttons {
	position: relative;
	width: 550px;
	height: 250px;
	margin-left: 2em;
	top: 250px;
	left: 0;
}
#buttons ul {
	z-index: 4;
	position: relative;
	list-style: none inside;
	margin: 0;
	width: 550px;
}
#buttons ul li {
	margin: 0 10px 10px 0;
	width: 110px;
	float: left;
	height: 110px;
}
#buttons ul li a {
    line-height: 1.2em;
	text-align: center;
	margin: 10px 0 0 10px;
	width: 100px;
	float: left;
	height: 100px;
	color: #b5cce8;
	text-decoration: none;
}
#buttons ul li a img {
	border-width: 0;
}