body {
    background-color: #ffffff;
    font: 70%/2em verdana, sans-serif;
    height: 100%;
}
div#wrapper {
    position: absolute;
    min-height: 100%;
    width: 100%;
    height: 100%;
    top: 0;
    padding: 0;
    left: 0;
}
html > body div#wrapper {
    height: 940px;
}
div#header {
    background-color: #000000;
    margin: 0;
    width: 100%;
    height: 100px;
}
div#nav {
    width: 240px;
    float: left;
    padding: 50px 0 0;
}
div#main {
    padding-bottom: 50px;
    width: 70%;
    margin-left: 250px;
    margin-right: 25px;
    padding-top: 100px;
}
div#footer {
    position: absolute;
    background-color: #000000;
    margin: 0;
    width: 100%;
    bottom: 1px;
    height: 70px;
    color: #cccccc;
    padding: 0;
    left: 0;
    overflow: auto;
}
div#header img.slika {
    position: absolute;
    top: 0;
    left: 0;
}
div#header img.tekst {
    position: relative;
    right: -240px;
}
div#wrp {
    position: absolute;
    top: 11px;
    right: 30%;
}
#naslov {
    position: absolute;
    height: 40px;
    top: 150px;
    left: 325px;
}
div#main p {
    text-align: justify;
    color: #000000;
}
p.right {
    padding-right: 5em;
    float: right;
}
p.left {
    padding-left: 5em;
    float: left;
}
div#navig {
    float: left;
    margin-left: 50px;
}
ul#nav {
    margin: 0;
    width: 140px;
    background: #000000;
    list-style: none none;
    padding: 0;
}
ul#nav li {
    margin: 0;
    padding: 0;
}
ul#nav a {
    border-bottom: #ffffff 1px solid;
    line-height: 2.5;
    display: block;
    color: #cccccc;
    text-decoration: none;
    padding: 0 15px;
}
ul#nav #nav_con a {
    border: medium none;
}
ul#nav a:hover {
    background-color: #cccccc;
    color: #000000;
}
.captioned_photo {
    position: relative;
    line-height: 1em;
    margin: 0.5em 0 0.75em 1.25em;
    float: right;
    padding: 0;
}
.captioned_photo p {
    position: absolute;
    background-color: #111;
    margin: 0 0 0 2.5em;
    width: 200px;
    bottom: -20px;
    display: block;
    font: 0.9em/1.25em verdana, sans-serif;
    color: #ffffff;
    padding: 0;
    left: 0;
}
.captioned_photo span {
    display: block;
    color: #ffffff;
    padding: 0.75em;
}
.captioned_photo img {
    margin: 0;
    display: block;
    padding: 0;
}
.captioned_photo a {
    color: #000000;
}
.photo {
    position: relative;
    line-height: 1em;
    margin: 0.5em 0 1.5em 1.25em;
    float: right;
    padding: 0;
}
.photo img {
    margin: 0;
    width: 400px;
    display: block;
    padding: 0;
}
.photo p {
    position: absolute;
    background-color: #111;
    margin: 0;
    width: 400px;
    bottom: -30px;
    display: block;
    font: 0.9em/1.25em verdana, sans-serif;
    color: #ffffff;
    padding: 0;
    left: 0;
}
.photo span {
    display: block;
    color: #ffffff;
    padding: 0.75em;
}
#prevsa {
    position: relative;
    margin: 0;
    width: 404px;
    list-style: none none;
    padding: 0;
    left: 110px;
}
#prevsa li {
    position: relative;
    text-align: center;
    background-color: #dcdad5;
    margin: 0;
    width: 200px;
    display: block;
    float: left;
    height: 30px;
    border: 1px solid rgb(255, 255, 255);
    padding: 0;
}
#prevsa li.alt {
    background-color: #f2efe9;
}
#body_prog #nav_prog a {
    background: #666666;
    color: #000000;
    font-weight: bold;
}
#body_proj #nav_proj a {
    background: #666666;
    color: #000000;
    font-weight: bold;
}
#body_lec #nav_lec a {
    background: #666666;
    color: #000000;
    font-weight: bold;
}
#body_app #nav_app a {
    background: #666666;
    color: #000000;
    font-weight: bold;
}
#body_spo #nav_spo a {
    background: #666666;
    color: #000000;
    font-weight: bold;
}
#body_con #nav_con a {
    background: #666666;
    color: #000000;
    font-weight: bold;
}
#body_pre #nav_pre a {
    background: #666666;
    color: #000000;
    font-weight: bold;
}