BODY {
	BACKGROUND-COLOR: #ffffff; FONT: 70%/2em Verdana, sans-serif; HEIGHT: 100%
}
DIV#wrapper {
	POSITION: absolute;
	PADDING-BOTTOM: 0px;
	MIN-HEIGHT: 100%;
	PADDING-LEFT: 0px;
	WIDTH: 100%;
	PADDING-RIGHT: 0px;
	HEIGHT: 100%;
	TOP: 0px;
	PADDING-TOP: 0px;
	LEFT: 0px
}
HTML > BODY DIV#wrapper {
	HEIGHT: 940px
}
DIV#header {
	BACKGROUND-COLOR: #000000; MARGIN: 0px; WIDTH: 100%; HEIGHT: 100px
}
DIV#nav {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; WIDTH: 240px; PADDING-RIGHT: 0px; FLOAT: left; PADDING-TOP: 50px
}
DIV#main {
	PADDING-BOTTOM: 50px; WIDTH: 70%; MARGIN-LEFT: 250px; MARGIN-RIGHT: 25px; PADDING-TOP: 100px
}
DIV#footer {
	POSITION: absolute;
	PADDING-BOTTOM: 0px;
	BACKGROUND-COLOR: #000000;
	MARGIN: 0px;
	PADDING-LEFT: 0px;
	WIDTH: 100%;
	BOTTOM: 1px;
	PADDING-RIGHT: 0px;
	HEIGHT: 70px;
	COLOR: #cccccc;
	PADDING-TOP: 0px;
	left: 0px;
	overflow: auto;
}
DIV#header IMG.slika {
	POSITION: absolute; TOP: 0px; LEFT: 0px
}
DIV#header IMG.tekst {
	POSITION: relative; RIGHT: -240px
}
DIV#wrp {
	POSITION: absolute; TOP: 11px; RIGHT: 30%
}
#naslov {
	POSITION: absolute; HEIGHT: 40px; TOP: 150px; LEFT: 325px
}
DIV#main P {
	TEXT-ALIGN: justify; COLOR: #000000
}
P.right {
	PADDING-RIGHT: 5em; FLOAT: right
}
P.left {
	PADDING-LEFT: 5em; FLOAT: left
}
DIV#navig {
	FLOAT: left; MARGIN-LEFT: 50px
}
UL#nav {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 140px; PADDING-RIGHT: 0px; BACKGROUND: #000000; LIST-STYLE-IMAGE: none; PADDING-TOP: 0px
}
UL#nav LI {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
UL#nav A {
	BORDER-BOTTOM: #ffffff 1px solid; PADDING-BOTTOM: 0px; LINE-HEIGHT: 2.5; PADDING-LEFT: 15px; PADDING-RIGHT: 15px; DISPLAY: block; COLOR: #cccccc; TEXT-DECORATION: none; PADDING-TOP: 0px
}
UL#nav #nav_con A {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; BORDER-TOP: medium none; BORDER-RIGHT: medium none
}
UL#nav A:hover {
	BACKGROUND-COLOR: #cccccc; COLOR: #000000
}
.captioned_photo {
	POSITION: relative; PADDING-BOTTOM: 0px; LINE-HEIGHT: 1em; MARGIN: 0.5em 0px 0.75em 1.25em; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FLOAT: right; PADDING-TOP: 0px
}
.captioned_photo P {
	POSITION: absolute; PADDING-BOTTOM: 0px; BACKGROUND-COLOR: #111; MARGIN: 0px 0px 0px 2.5em; PADDING-LEFT: 0px; WIDTH: 200px; BOTTOM: -20px; PADDING-RIGHT: 0px; DISPLAY: block; FONT: 0.9em/1.25em Verdana, sans-serif; COLOR: #ffffff; PADDING-TOP: 0px; LEFT: 0px
}
.captioned_photo SPAN {
	PADDING-BOTTOM: 0.75em; PADDING-LEFT: 0.75em; PADDING-RIGHT: 0.75em; DISPLAY: block; COLOR: #ffffff; PADDING-TOP: 0.75em
}
.captioned_photo IMG {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; DISPLAY: block; PADDING-TOP: 0px
}
.captioned_photo A {
	COLOR: #000000
}
.photo {
	POSITION: relative; PADDING-BOTTOM: 0px; LINE-HEIGHT: 1em; MARGIN: 0.5em 0px 1.5em 1.25em; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FLOAT: right; PADDING-TOP: 0px
}
.photo IMG {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 400px; PADDING-RIGHT: 0px; DISPLAY: block; PADDING-TOP: 0px
}
.photo P {
	POSITION: absolute; PADDING-BOTTOM: 0px; BACKGROUND-COLOR: #111; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 400px; BOTTOM: -30px; PADDING-RIGHT: 0px; DISPLAY: block; FONT: 0.9em/1.25em Verdana, sans-serif; COLOR: #ffffff; PADDING-TOP: 0px; LEFT: 0px
}
.photo SPAN {
	PADDING-BOTTOM: 0.75em; PADDING-LEFT: 0.75em; PADDING-RIGHT: 0.75em; DISPLAY: block; COLOR: #ffffff; PADDING-TOP: 0.75em
}
#preVSA {
	POSITION: relative; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 404px; PADDING-RIGHT: 0px; LIST-STYLE-IMAGE: none; PADDING-TOP: 0px; LEFT: 110px
}
#preVSA LI {
	BORDER-BOTTOM: rgb(255,255,255) 1px solid; POSITION: relative; TEXT-ALIGN: center; BORDER-LEFT: rgb(255,255,255) 1px solid; PADDING-BOTTOM: 0px; BACKGROUND-COLOR: #dcdad5; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 200px; PADDING-RIGHT: 0px; DISPLAY: block; FLOAT: left; HEIGHT: 30px; BORDER-TOP: rgb(255,255,255) 1px solid; BORDER-RIGHT: rgb(255,255,255) 1px solid; PADDING-TOP: 0px
}
#preVSA LI.alt {
	BACKGROUND-COLOR: #f2efe9
}
#body_prog #nav_prog A {
	BACKGROUND: #666666; COLOR: #000000; FONT-WEIGHT: bold
}
#body_proj #nav_proj A {
	BACKGROUND: #666666; COLOR: #000000; FONT-WEIGHT: bold
}
#body_lec #nav_lec A {
	BACKGROUND: #666666; COLOR: #000000; FONT-WEIGHT: bold
}
#body_app #nav_app A {
	BACKGROUND: #666666; COLOR: #000000; FONT-WEIGHT: bold
}
#body_spo #nav_spo A {
	BACKGROUND: #666666; COLOR: #000000; FONT-WEIGHT: bold
}
#body_con #nav_con A {
	BACKGROUND: #666666; COLOR: #000000; FONT-WEIGHT: bold
}
#body_pre #nav_pre A {
	BACKGROUND: #666666; COLOR: #000000; FONT-WEIGHT: bold
}
